body {
  margin: 0;
  width: 100vw;
  height: 100vh;
  background-image: url(/Users/gorkemgedik/Desktop/AllSoftware/aoe-units/aoe-units/src/assets/images/bodyBackground.jpeg);
  background-size: cover;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

html {
  overflow: hidden;
}