.ages {
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #ABA894;
    border-radius: 20px;
}

.ages div {
    width: 100%;
    display: flex;
    justify-content: center;
}

.ages input {
    margin: 0.5rem 0.1rem;
    width: 15%;
    border-radius: 20px;
    background-color: #EED9B6;
    border: 2px solid #A2847F;
    color: #752B39;
}

.ages input:hover {
    background-color: #DFDDDE;
    cursor: pointer;
}

.ages input:focus {
    background-color: #586D76;
    color: #EED9B6;
}